.wuan-button {
    background:#5677fc;
    border-radius:8px;
    padding-top: 22px;
    padding-bottom: 22px;

    opacity:0.87;
    font-family:PingFangSC-Regular;
    font-size:32px;
    color:#ffffff;
    text-align:center;
}