// gradient color

// main color
$color-monte-bleu: #194D78;
$color-royal-bleu: #31B28D;
$color-grey-oracle: #9AB0C8;
$color-musty: #8CA0B3;
$color-dark-grey: #828D9D;
$color-green-grey: #D8E2E7;
$color-milky-blue: #66B1CB;
$color-chat-blue: #0074AF;
$color-bright-teal: #1EB7B0;
$color-white: #FFFFFF;
$color-light-grey: #F6F8FA;

// reminder color
$color-code-green: #00E56F;
$color-code-yellow: #FFCB00;
$color-code-blue: #3e97f4;
$color-code-purple: #9e42ff;
$color-error-red: #ff4542;

// flats

$color-teacup-blue-10: rgba(32,53,128,0.1);
$color-teacup-blue-16: rgba(32,53,128,0.16);
$color-teacup-blue-30: rgba(32,53,128,0.3);
$color-musty-60: rgba(130,141,157,0.6);

